<!DOCTYPE html>
<html>
    <head>
        <title>Count your profit!</title>
    </head>
    <body>
        <section>
            <div>
                <form>
                    <input type="text" placeholder="Your name, Thief..." name="thief_name"><br>
                    <input type="text" placeholder="How big is your car (kg):" name="car_load">
                    <input type="text" placeholder="First jewelry:" name="name_1"><br>
                    <input type="text" placeholder="Mass:" name="mass_1">
                    <input type="text" placeholder="How much worth is it:" name="prize_1">
                    <br><br>
                    <input type="text" placeholder="Second jewelry:" name="name_2"><br>
                    <input type="text" placeholder="Mass:" name="mass_2">
                    <input type="text" placeholder="How much worth is it:" name="prize_2">
                    <br>
                    <button>Optimize!</button>
                </form>
            </div>
            <div>
                <form>
                    <p>Best solution for you:</p><br>
                    <p>How many first jewel?: {{ result['NumberOfA'] }}</p><br>
                    <p>How many second jewel?: {{ result['NumberOfB'] }}</p><br>
                    <p>Your profit: {{ result['Profit'] }}</p>
                </form>
            </div>
        </section>
    </body>
</html>